[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ik (i4s)
[access "refs/for/refs/*"]
	read = group user/ik (i4s)
	push = group user/ik (i4s)
	label-Code-Review = -2..+2 group user/Evgenii Zhurko (zhen9i)
	label-Code-Review = -2..+2 group user/Ilya (LeVoyager)
	label-Code-Review = -2..+2 group user/VeduaeVelum
	label-Code-Review = -2..+2 group user/ik (i4s)
	label-Verified = -1..+1 group user/Evgenii Zhurko (zhen9i)
	label-Verified = -1..+1 group user/Ilya (LeVoyager)
	label-Verified = -1..+1 group user/VeduaeVelum
	label-Verified = -1..+1 group user/ik (i4s)
	rebase = group user/ik (i4s)
	removeReviewer = group user/ik (i4s)
	submit = group user/ik (i4s)
[access "refs/heads/*"]
	read = group user/ik (i4s)
	create = group user/ik (i4s)
	push = +force group user/ik (i4s)
	pushMerge = group user/ik (i4s)
[access "refs/tags/*"]
	push = +force group user/ik (i4s)
	pushTag = group user/ik (i4s)
	pushSignedTag = group user/ik (i4s)
[submit]
	action = cherry pick
