[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/i4s
[access "refs/for/refs/*"]
	read = group user/i4s
	push = group user/i4s
	label-Code-Review = -2..+2 group user/i4s
	label-Verified = -1..+1 group user/i4s
	rebase = group user/i4s
	removeReviewer = group user/i4s
	submit = group user/i4s
[access "refs/heads/*"]
	read = group user/i4s
	create = group user/i4s
	push = +force group user/i4s
	pushMerge = group user/i4s
[access "refs/tags/*"]
	push = +force group user/i4s
	pushTag = group user/i4s
	pushSignedTag = group user/i4s
